@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply max-xl:text-sm;
}

.bentoBox {
  @apply p-6 rounded-xl w-full bg-light drop-shadow-md;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 30s linear infinite;
  width: calc(2 * 100%);
}
